/* تصميم خلفية الشاشة الرئيسية والترحيب */
#welcomeScreen, #mainScreen {
    color: #333; /* لون النص رمادي داكن */
    background-color: #ffffff; /* خلفية بيضاء */
}

/* تصميم الأزرار */
button {
    background-color: #f0f0f0; /* خلفية رمادية فاتحة للأزرار */
    color: #333; /* نص رمادي داكن على الأزرار */
    border: 1px solid #ccc; /* حدود رمادية فاتحة */
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px; /* حجم الخط للأزرار */
}

button:hover {
    background-color: #e0e0e0; /* خلفية أفتح عند التحويم على الزر */
}

/* تصميم إدخال البيانات */
.form-select, .form-control {
    background-color: #ffffff; /* خلفية بيضاء لحقول الإدخال */
    color: #333; /* نص رمادي داكن في حقول الإدخال */
    border: 1px solid #ccc; /* حدود رمادية فاتحة */
}

.form-select:focus, .form-control:focus {
    border-color: #bbb; /* تغيير لون الحدود عند التركيز */
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1); /* ظل خفيف عند التركيز */
}

/* تصميم نتائج البحث */
#result {
    border: 1px solid #ddd; /* لون الحدود رمادي فاتح */
    padding: 20px;
    background-color: #f9f9f9; /* خلفية رمادية فاتحة للنتائج */
    color: #333; /* نص رمادي داكن للنتائج */
    border-radius: 10px;
    margin-top: 20px;
}

/* تصميم رسالة خطأ */
.text-danger {
    color: #cc0000; /* لون النص أحمر داكن للرسائل التنبيهية */
}

/* تصميم العناوين والنصوص في الشاشة الرئيسية */
#mainScreen h2 {
    color: #444; /* لون العنوان رمادي داكن */
}

#mainScreen p {
    color: #666; /* لون النصوص رمادي متوسط */
}
